<h1 class="current-category"><%= params[:category] %></h1>

<% if @plays.count == 0  %>
    <h3>There are no plays in this category</h3>
<% else %>
    <div class="row">
        <% @plays.each do |play| %>
            <div class="col-md-3">
                <a href="<%= play_path(play) %>">
                    <% if play.play_img.attached? %>
                        <%= image_tag url_for(play.play_img), class: "play" %>
                        <div class="average-review-rating" data-score=<%= @average_reviews[play.id] %>></div>
                    <% else %>
                        <p>NO IMAGE!!!</p>
                    <% end %>
                </a>
            </div>
        <% end %>
    </div>
<% end %>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
        step: 0.5, 
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>