<h1 class="mytable-title">All the categories</h1>

<table class="table mytable">
  <thead style="background-color: #271919; color: white; border-radius: 20px; font-size: 2.5rem">
    <tr>
      <th>Edit</th>
      <th>Genre</th>
      <th>Delete</th>
    </tr>
  </thead>
  <div class="row" style="background-color: black"  >
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to "", edit_category_path(category), class: "glyphicon glyphicon-pencil btn-custom" %></td>
        <td><%= category.name %></td>
        <td><%= button_to "", category_path(category), form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: "glyphicon glyphicon-trash btn-custom" %></td>
      </tr>
    <% end %>
  </tbody>
  </div>
</table>

<br>

<%= link_to " Add", new_category_path, class: "glyphicon glyphicon-plus btn-custom" %>
