<%= simple_form_for([@play, @play.reviews.build]) do |f| %>
	<div id="rating-form">
		<label> Rating </label>
	</div>
	<% if @review.errors.any? %>
		<div id="error_explanation">
			<ul>
				<% @review.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

    <%= f.input :comment %>
	<br>
    <%= f.button :submit, :class => "btn btn-custom2" %>
<% end %>

<script>
	$('#rating-form').raty({
		path: '/assets/',
		step: 0.5,
		scoreName: 'review[rating]'
	});
</script>